* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --width: 40px;
    --height: 44px;
    --primari-color: #ff6a00;
    --height-content:80px;
    --white-color: #fff;
    --gray:#f4f4f4;
    --text-color-secondary:#08c;
}
.header-logo:hover {
    cursor: pointer;
}

.header-right {
    z-index: 9;
}

.header-logo {
    padding-left: 5px;
    /* width: 90%; */
    height: 130%;
}

.dropdown-account{
    position: absolute;
    /* margin-top: calc(var(--height) + 5px ) ; */
    right: 0;
    transform: translateX(50%);
    /* margin-left: -200px; */
    /* border: 1px solid black; */
    background-color: #ffffff;
    /* height: 300px; */
    width: 300px;
    box-shadow: 1px 1px 7px 0px #a69d9d;
    display: none;
    list-style: none;
    padding: 5px 10px;
    line-height: 2;
}

.key {
    font-weight: 800;
}

.dropdown-items-wrap {
    margin-bottom: 5px;
}

.dropdown-account::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 50%;
    /* box-shadow: 1px 1px 7px 0px #a69d9d; */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    transition: all linear 4s;
}

.dropdown-account-items:not(:first-child):hover {
    color: var(--primari-color);
    transition: color linear 0.2s;
    cursor: pointer;
    /* display: block; */
}

.messenger-icon {
    position: absolute;
}

.dropdown-messenger {
    position:relative;
}
.header {
    width: 100%;
    height: var(--height);
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-categories {
    display: flex;
    margin: 10px;
}

.categoryes-text {
    font-size: 14px;
    color: #333333;
}

.header-right {
    width: 50%;
    display: flex;
}

.btn {
    width: 100%;
    text-align: center;
    border: 1px solid var(--primari-color);
    color: var(--primari-color);
    background-color: #ffffff;
    border-radius: 10px;
    height: 30px;
}

.btn-sign {
    margin-bottom: 10px;
}

.btn:hover {
    cursor: pointer;
}

.icon-wrap {
    display: flex;
    width: 40%;
    justify-content: space-around;
    line-height: var(--height);
}

.icon-wrap i {
    font-size: 20px;
}
.header-item {
    display: flex;
    list-style: none;
    position: relative;

}

.account-icon {
    position: relative;
    
}
.account-icon:hover {
    /* position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
    width: 50px;
    height: 100px; */
    color: var(--primari-color);
    .dropdown-account{
        display: block;
        color: #000;
    }

    /* transition: all linear 5s; */
    /* background-color: #000; */

}

.list-dropdown-icon{
    position: relative;
}

.list-dropdown {
    background-color: #ffffff;
    width: 300px;
    left: 0;
    top: calc(var(--height) ) ;
    position: absolute;
    transform: translateX(-50%);
    list-style: none;
    box-shadow: 1px 1px 7px 0px #a69d9d;
    display: none;
    padding: 0 10px;
}
/* .list-dropdown-text:hover {
    transition: all linear 0.2s;
    cursor: pointer;
} */


.list-dropdown-icon:hover {
    color: var(--primari-color);
    .list-dropdown {
        display: block;
        color: #000;
    }
}

.list-dropdown::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 45%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    transition: all linear 4s;
}

.cart-shopping-icon {
    position: relative;
}

.cart-shopping {
    background-color: #ffffff;
    width: 300px;
    left: 0;
    top: calc(var(--height) ) ;
    position: absolute;
    transform: translateX(-50%);
    list-style: none;
    box-shadow: 1px 1px 7px 0px #a69d9d;
    display: none;
    padding: 0 10px;
}
.cart-shopping::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 45%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    transition: all linear 4s;
}

.sign-in-a {
    text-decoration: none;
    color: var(--text-color-secondary);
}

.cart-shopping-icon:hover {
    color: var(--primari-color);
    .cart-shopping {
        display: block;
        color: #000;
    }
}


.links-wrap {
    /* width: 100%; */
    line-height: var(--height);
    display: flex;
    flex: 1;
}

.links-wrap a {
    font-size: 20px;
}
.header-item {
    /* overflow:auto; */
    display: flex;
    /* align-items: center; */
    justify-content:space-around; 
    /* justify-content:end; */
    width: 100%;
}

.header-link {
    
    text-decoration: none;
    color: black;
    opacity: 0.5;
    padding: 0 -10px;
    position: relative;

    /* border-right: 1px solid #000; */
}

.header-link:hover {
    color: var(--primari-color);
}

.header-link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -10px;
    height: 90%;
    transform: translate(50%, -50%);
    border-left: 1px solid #000;
}


.searchbar-wrap {
    width: 100%;
    height: 300px;
    background-image: url(./image/AdobeStock_398308996_Preview.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

.searchbar-wrap::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) , rgba(217, 218, 223, 1))
}

.searchbar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-box {
    z-index: 5;
    display: flex;
    align-items: center;
    height: 40px;
    width:50%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .search-input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .search-button {
    padding: 10px;
    width: 15%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: var(--primari-color);
    border: none;
    cursor: pointer;
  }
  
  .search-button i {
    color: #fff;
  }

  .search-suggestions {
    z-index: 6;
    display: flex;
    top: 60%;
    color: var(--white-color);
    position: absolute;
  }
  .searchbar-wrap a {
    color: var(--white-color);
    text-decoration: none;
    margin-left: 10px;
  }

  .searchbar-wrap a:hover {
    color: var(--primari-color);
    text-decoration: underline;
  }

.container-content {
    z-index: 0;
    background-color: rgb(217 218 223);
    /* position: absolute; */
    top:50%;
    width: 100%;
    /* height: 800px; */
}

.container {
    width: 80%;
    margin: auto;
}

.top-content {
    /* z-index: 10; */
    /* text-align: c; */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: var(--height-content);
    line-height: 1.6;
    background-color: var(--white-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.top-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    /* background-color: #f5f5f5; */
    height: 100%;
}

.top-content .end {
    border: none;
}

 .top-entry-item {
    display: flex;
    align-items: center;
    padding: 0 12px;
 }

 .top-entry-item:hover {
    cursor: pointer;
 }

.container-content .title {
    font-size: large;
    font-weight: 700;
}

.container-content .sub-title {
    font-size: small;
}

.main-content {
    height: 456px;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.category-left-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.category-left-wraper {
    margin-top: 10px;
}

.category-left-item {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    height: 45px;
}

.category-left-item:hover {
    color: var(--primari-color);
    box-shadow: 1px 3px 7px 0px #242424;;
}

.category-left-icon {
    margin-right: 5px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #08c;
    overflow: hidden;
}

.category-img-item {
    object-fit: cover;
}
.category-left-text {
    line-height: 32px;
}

.category-center {
    /* background-color: #a69d9d; */
    padding: 0 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

.image img {
    /* border-radius: 5px; */
    object-fit:cover;
    width: 100%;
    /* height: 400px; */

}

.slick-arrow {
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    z-index: 2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-arrow:hover {
    color: var(--white-color);
    background-color: var(--primari-color);
}

.slick-dots {
    position: absolute;
    right: 50%;
    transform: translate(50%, -100%);
    z-index: 3;
    bottom: 0;
    display: flex !important;
    gap: 10px;
}

.slick-dots li {
    list-style-type: none;
}

.slick-dots .slick-active button {
    background-color: var(--primari-color);
}

.slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: all 0.2s linear;

}

.slick-prev {
    left: 0;
    margin-left: 5px;
}

.slick-next {
    right: 0;
    margin-right: 5px;
}

.image-item {
    height: 100%;
}

.category-right {
    padding-left: 5px;
    /* background-color: #08c; */
    /* width: 100px; */
}

.category-right a {
    color: #000;
}

.right-title {
    margin-bottom: 10px;
}

.right-title a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.element-card {
    z-index: 6;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 86px;
    background-color: var(--gray);
}

.benefits-floor a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.login-card a {
    margin-bottom: 10px;
    background-color: var(--primari-color);
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-radius: 10px;
    text-decoration: none;
}

.login-title {
    margin: 10px 0;
}

.list-products {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 15px;
    column-gap: 10px;
}

.list-product-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.list-product-col-12 {
    padding: 0 12px;
    width: 100%;
}

.list-products a {
    text-align: center;
    text-decoration: none;
    color: #000;
    /* margin: 5px; */
    /* flex: 20%; */
    /* padding: 10px; */
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    height: 50vh;
    background-color: var(--white-color);
    border-radius: 10px;

}

.list-products-img {
    width: 100%;
}

.list-products .line2 {
    margin-top: 10px;
    line-height: 1.7;
}

.list-products .price {
    font-weight: bold;
}

 .list-products a:hover {
    transform: translateY(-2px);
 }


/* Table */
@media (min-width: 740px) and (max-width: 1023px) {
    .list-products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .list-products a {
        height: 300px;
    }

    .container {
        width: 90%;
    }

    .links-wrap {
        display: none;
    }

    .icon-wrap {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 739px) {

    .container {
        width: 100%;
        padding: 5px;
    }
    .container-content {
        margin-top: -25px;
    }
    .links-wrap {
        display: none;
    }
    .main-content ,.top-content {
        display: none;
    }

    .icon-wrap {
        width: 100%;
    }
    .list-products {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .list-products a {
        width: 100%;
        height: 150px;
        display: flex;
    }

    .list-products-img {
        flex: 0.4;
    }

    .line2 {
        flex: 0.6;
        transform: translateY(30%);
    }

    .list-products-img {
        width: 100%;
    }
}